#annas, #ovidiu ,#siya ,#nathan{
	
	margin: 15px;
	height: 500px;
	border-radius: 6%;
	opacity: 0.9;
}
h5{
	background-color: lightcyan;
}
h3{

	background-color:#003333;
	padding: 10px;
	margin: 5px;
	border-radius: 5%;
	color: white;
}
