#ovidiu{
	background-color: #407F7F;
	margin-bottom: 10px;
}
#imageTaken{
	width: 250px;
	height: 250px;
	
}
#snap-button{
	border: 1px solid #55AA55;
	margin: 14px;
	padding: 3px;
	 box-shadow: -2px 2px 2px 2px #88CC88;

	
}
#terminal{
	color: yellow;
	background-color: black;
	width: 100%;
	max-height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     opacity: 0.7;
     margin-bottom: 10px;

}
.banner{
	background-color: #550000;
	height: 100px;
}
body{
	background-image: url('/../static/images/coding.png');

}
.sensors_o{
	margin: 4px;
	padding: 5px;
	box-shadow: 2px -2px 2px 2px #88CC88;
}
#ovidiu ul{
	display: inline-block;
	 list-style-type: none;


}

#ovidiu ul li{
	margin: 2px;
	padding: 2px;
}

