#siya{
	background-color: #D46A6A;
}

input{
	margin-top: 4px;
	padding: 10px;
}

.form-group{
padding:60px;
margin-left:500px;
text-align: center;
}

.text-left-image{
margin-left:500px;
}

.row{
margin-left:500px;
}


.p-2{
margin-left: 30px;
margin-top: 30px;
}